@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* GLOBAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 10px 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

/* BODY + CONTENT*/

body{
    margin: 0 auto;
    position: relative;
    height: 4737px;
    min-width: 1440px;
    background: #FFFFFF;
}

.content{
    padding: 0 8rem;
}

/* HEADER */

.header{
    height: 8.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    list-style-type: none;
    display: flex;
}

.img__logo{
    height: 2.4rem;
}

.header__menu>li>a{
    font-size: 1.7rem;
    margin: 0 2rem;
    color:#3F3B3D;
}

.Buy__Template {
    background: #DDDBDA;
    border-radius: 0.3rem;
    padding: 1.4rem 1.8rem 1.2rem;
}

.cart__buys{
    background: #F8F9FA;
    border-radius: 0.3rem;
    padding: 1.4rem 1.8rem 1.2rem;
    margin: 0 0 0 -0.8rem !important;
}

.fa-cart-shopping{
    font-size: 1.7rem;
}

/*Page Preview */

.site__preview{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rectangle{
    height: 48rem;
    background: #3F3B3D;
    border-radius: 0;
    margin-top: 8rem;
    display: flex;
    align-items: flex-end;
    justify-content: start;

}

.rectangle__photo{
    height: 56.2rem;
}

.site__preview__info{
    padding: 0 7.8rem 0 6.4rem;
    height: 16.2rem;
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.site__preview__info__title{
    font-size: 3.3rem;
}

.shop__browse{
    display: flex;
    align-items: center;
}

.shop__browse a{
    font-size: 1.6rem;
}

.shop__everything{
    padding: 1.1rem 2.6rem;
    background: #F14814;
    border-radius: .5rem;
    margin-right: 5rem;
}

/* Conditions */

.conditions__section{
    width: 100%;
    height: 48rem;
    display: flex;
    flex-direction: column;
}

.slogan{
    margin-top: 6.3rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color:#F14814;
    letter-spacing: .1rem;
    text-align: center;
}

.conditions__section__info{
    padding: 0 29rem;
    font-size: 2.7rem;
    letter-spacing: 0.56px;
    margin-top: 1.6rem;
    line-height: 3.7rem;
    color: #3F3B3D;
    text-align: center;
}

.conditions__img__text{
    margin-top:5.9rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    padding: 0 24rem;
    color:#3F3B3D;
}

.condition img{
    width: 8rem;
    height: 8rem;
}

.condition__h{
    font-size: 2.1rem;;
    line-height: 2.5rem;
    margin-bottom: 1.1rem;
}

.condition__p{
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* Cards + browse + shop */

.collection__shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection__cards{
    display: flex;
    gap: .8rem;
}

.card{
    width:42.1rem;
    height:42.1rem;
    display: flex;
    align-items: flex-end;
}

.first__card{
    background: url(img/Hard_BOILED_Egg_and_Avocado.png);
    background-size: cover;
}

.second__card{
    background: url(img/BOMB!_Enamel_Pin.png);
    background-size: cover;
}

.third__card{
    background: url(img/Pineapple_Charm_Pendant.png);
    background-size: cover;
}

.card__title__price{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:0 1.2rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.card__title__price p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #3F3B3D;
}

.shop__browse__all__collections{
    display: flex;
    margin-top: .8rem;
    gap: .8rem;
}

.big__card{
    width: 63.6rem;
    height: 47.7rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.shop__all__card{
    background: url(img/shop_img.png);
    background-size: cover;
}

.browse__collection__card{
    background: url(img/browse_img.png);
    background-size: cover;
}

.big__card__info {
    width: 100%;
    color: #fff;
    padding-bottom: 2.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
}

.big__card__info__title{
    font-size: 3.9rem;
    line-height: 4.4rem;
    letter-spacing: .44px;
    margin-bottom: 1.2rem;
}

.big__card__info__title_description{
    font-size: 1.4rem;
    line-height: 1.9rem;
}

/* REVIEWS  */

.reviews{
    background: #F8F9FA;
    /* width: 100%; */
    height: 97rem;
    margin-top: 6.4rem;
    padding-top: 12.8rem;
    color: #3F3B3D;
}

.review__block__title{
    font-size: 2.9rem;
    line-height: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3.1rem;
}

.big__review__block{
    display: flex;
    justify-content: center;
    margin: 0 10rem;
    gap: .8rem;
}

.big__review__pic, .big__review__msg{
    width: 53.6rem;
    height: 53.6rem;
}

.big__review__pic{
    background: url(img/review.png);
    background-size: cover;
}

.big__review__msg{
    background:#DCEAE9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.message{
    padding: 0 6.4rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2.9rem;
}

.author{
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.more__reviews{
    margin-top: 6.4rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    color: #3F3B3D;
}

.lil__review{
    padding: 0 1.3rem;
    width: 27.2rem;
    height: 11.1rem;
    text-align: center;
}

.lil__review__msg{
    margin-top: 1.8rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

/* JOURNAL SECTION */

.journal{
    display: flex;
    justify-content: center;
    padding: 6.4rem 10rem;
    width: 100%;
    height: 78.2rem;
}

.journal__img{
    height: 65.4rem;
    width: 50.8rem;
    background: url(img/journal.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.atricle__topic{
    margin: 0 1.6rem 1.6rem 1.6rem;
    background: #FFFFFF;
    padding: 3.1rem;
    color: #3F3B3D;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

.data__post{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #5D6E67;
}

.article__name__topic{
    font-size: 2.4rem;
    line-height: 2.9rem;
}

.article__description__topic{
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.read__more{
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-top: .8rem;
}

.journal__info{
    width: 50.8rem;
    margin-left: 6.4rem;
    display: flex;
    flex-direction: column;
    color: #3F3B3D;
    justify-content: space-between;
}

.title__journal{
    font-size: 5.2rem;
    line-height: 5.6rem;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.read__the__latest{
    font-size: 1.6rem;
    line-height:2.1rem;
    margin-top: 1.4rem;
    text-decoration: underline;
}

.articles{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.single__article{
    display: flex;
    gap: 3.2rem;
}

.single__article .article__img{
    align-self: flex-end;
}

.article__img, .article__img img{
    width: 15.9rem;
    height: 100%;
}

.article__info{
    display: flex;
    flex-direction: column;
}

.article__description{
    font-size: 1.6rem;
    margin: .3rem 0;
    line-height: 2.1rem;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    background: #3F3B3D;
    padding: 9.6rem 8rem 0rem;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__title{
    text-transform: uppercase;
    font-size: 2.9rem;
    line-height: 3.2rem;
    color: #fff;
    width: 32rem;
}

.footer__all__img{
    display: flex;
    justify-content: center;
    margin: 3.2rem 6.4rem;
    gap: 3.2rem;
}

.subscribe__footer__nav{
    display: flex;
    gap: 7.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 3.1rem;
}

.subcribe__form__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #fff;
    width: 43.8rem;
}

.subcribe__form input{
    margin-top: 3rem;
    width: 51.2rem;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.9rem;
    line-height: 2.7rem;
}

.footer__nav{
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer__nav ul{
   list-style-type: none;
}

.footer ul li{
    margin: .3rem 0;
}

.footer ul li:first-of-type{
    margin: 0 0 1.5rem 0;
    letter-spacing: .96px;
}

.footer ul li a{
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #fff;
}

.powered__by__template__btn{
    display: flex;
    align-items: center;
    padding: 2.1rem 10rem 2.1rem 0;
    justify-content: space-between;
    color: #fff;
}

.powered__stare{
    display: flex;
}

.powered__by{
    color: #fff;
    line-height: 2.1rem;
    font-size: 1.6rem;
}

.stare{
    color: #F14814;
    line-height: 2.1rem;
    font-size: 1.6rem;
    margin-left: .8rem;
}

.Buy__Template__footer{
    background: #F14814;
    border-radius: 0.3rem;
    padding: 1.4rem 1.8rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* HOVER */

.card:hover{
    box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.1);
    border:1px solid rgba(0, 0, 0, 0.05);
}